<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ Document }}</title>

    <style>

    body{
        margin: 0px auto;
        }

    #wrapper{
        width: 970px;
        margin: 0px auto;
                   }

    .square{

        height: 250px;
        width: 250px;
        border: 2px solid black;
        display: inline-block;
        margin: 20px;
    }

    h1 {
    color: maroon;
    margin-left: 40px;
    }
    </style>

</head>

    <body>
        <div id ="wrapper">
            <h1>{{ header }}</h1>
            
            {% for x in range(0,times)%}

                <div class="square" style="background-color: {{color}};"></div>
            
            {% endfor %}
            
        </div>
    </body>
</html>